

.main-container {
    width: 50%;
}

.input-section {
    display: flex;
    justify-content: center;
}

.input-section input {
    width: 70%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.main-container button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.generated-url {
    margin: 2em auto;
    text-align: center;
    font-size: 24px;
}